[Unit]
Description=Persistent root storage on %f
DefaultDependencies=no
IgnoreOnIsolate=yes
SurviveFinalKillSignal=yes
BindsTo=%i.device
After=%i.device

[Service]
Type=forking
Slice=system.slice
ExecStartPre=/usr/lib/systemd/systemd-fsck %f
RuntimeDirectory=overlay
RuntimeDirectoryPreserve=yes
ExecStart=/usr/bin/fuse2fs -o rw,allow_other %f /run/overlay
ExecStartPost=/usr/bin/mountpoint -q /run/overlay
ExecStartPost=/usr/bin/mkdir -p /run/overlay/upper /run/overlay/work /run/overlay/results
